* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid steelblue;
    align-items: center;
}

#TempTitle {
    color: #ff8d0a;
}

#HumTitle {
    color: #0ab1ff;
}

.logo {
    /*     display: flex;
    align-items: center; */
    margin-bottom: 10px;
}

.logo strong {
    font-family: 'Oswald', 'Roboto', sans-serif;
    color: #1a0aff;
}

.flag {
    background: linear-gradient(#1a0aff, #21d3ff, #6ff08b);
    height: 5rem;
}

.logo strong {
    margin-left: 5px;
    font-size: 5rem;
}

/* ----------------- MENU ---------------------- */

.menu {
    font-family: 'Oswald', 'Roboto', sans-serif;
    color: #0a91ff;
    display: flex;
    list-style: none;
}

.menu li {
    margin: 0 5px;
}

.menu li a {
    font-weight: 700;
    text-decoration: none;
}

.content {
    width: 100%;
    padding: 20px 10px;
    border: 1px solid lightskyblue;
    text-align: center;
}

.figuraPpal img {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 15px;
}

 /* -------------------- Actuadores --------------- */

.actuadores {
    padding: 20px 10px;
    border: 1px solid rgb(255, 252, 47);
}

.actuadores h3 {
    margin-bottom: 15px;
    font-size: 2.5rem;
}

.card-actuador {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(198, 194, 255);
    border-radius: 12px;
}

.card-header {
    align-self: center;
    justify-content: center;
    padding: 10px;
    font-family: "Lucida Console", monospace;
    text-align: center;
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.actuadores-images{
    /* align center */
    display: flex;
    justify-content: center;
    align-items: center;
}

.actuadores-images #regadera {
    width: 100%;
    max-width: 250px;
    height: 120px;
}

.config-item-content-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.config-item-content-item label{
    font-size: 1.5rem;
    font-weight: 700;
}

.config-item-content-item input{
    width: 100%;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #0a91ff;
    padding: 2px 8px;
    font-size: 2rem;
    font-weight: 700;
    /* center text */
    text-align: center;
}

.button-state {
    /* center */
    margin-top: 10px;
    padding: 10px;
    background-color: #008CBA;
    border-radius: 12px;
    color: white;
    font-size: 30px;
    margin: 8px;
}

.card-config {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(183, 184, 189);
    border: 2px solid rgb(142, 135, 156);
}

.button-save {
    /* center */
    margin-top: 10px;
    padding: 10px;
    background-color: #029727;
    border-radius: 12px;
    color: white;
    padding: 16px 40px;
    font-size: 30px;
    margin: 8px;
}

.config-encendido {
    /* center */
    margin-top: 10px;
    padding: 10px;
    background-color: #014d01;
    border-radius: 12px;
    color: white;
    padding: 16px 40px;
    font-size: 20px;
    margin: 8px;
}

.config-apagado {
    /* center */
    margin-top: 10px;
    padding: 10px;
    background-color: #5e0101;
    border-radius: 12px;
    color: white;
    padding: 16px 40px;
    font-size: 20px;
    margin: 8px;
}


.footer {
    display: flex;
    height: 50px;
    padding: 10px;
    border: 1px solid orange;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-weight: 700;
}

/* button styles */
.button-image {
    width: 80px;
    height: 80px;
    /* Position the image next to the text */
    vertical-align: middle;
    margin-right: 5px;
  }
 
/* Add a hover effect for the button */
#riegoButton:hover {
/* Use a transform to scale the button up */
transform: scale(1.1);
/* Use a transition to smoothly animate the transformation */
transition: transform 0.5s ease-out;
}

/* ------------------ SLICER CARD -----------------------*/
.slicer-control {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(14, 0, 102);
    border-radius: 12px;
}
.img-slicer{
    vertical-align: middle;
}
.slicer-control h2, span{
    font-family: "Lucida Console", monospace;
    text-align: center;
    color: #fff;
    padding: 1rem;
}

.slicer #setHumedad{
    /* remove any fixed dimensions or constraints */
    height: auto;
    min-height: 50;
    max-height: none;
  }

.img-slicer {
    padding: 1rem;
    max-width: 150px; /* establece el ancho máximo de la imagen en 100px */
    max-height: 150px; /* establece el alto máximo de la imagen en 150px */
  }

/* --------------------WIFI CONFIG styles----------------- */
.card-config p{
    font-size: 1.5rem;
    padding-top: 1rem;
}
.card-config label{
    font-size: 2.5rem;
    
}
form {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 10px;
    padding-top: 20px;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
